<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://142.44.240.16:3306/leilao</property>
        <property name="connection.username">ddevil</property>
        <property name="connection.password">ghpghp77B</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Mapping files -->
        <mapping class="me.arkenum.leilao.user.Admin"/>
        <mapping class="me.arkenum.leilao.user.Participante"/>
        <!--<mapping class="me.arkenum.leilao.data.Leilao"/>-->
        <!--<mapping class="me.arkenum.leilao.data.Lance"/>-->
    </session-factory>
</hibernate-configuration>