<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LeilaoServlet</servlet-name>
        <servlet-class>me.arkenum.leilao.CommandController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NotFoundPage</servlet-name>
        <jsp-file>/notfound.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFoundPage</servlet-name>
        <url-pattern>/notfound.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeilaoServlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
</web-app>